# Compiled object files
*.o
*.elf

# Arduino build folders
/build/
/*.bin
/*.hex
/*.eep

# IntelliSense and other IDE-specific files
.vscode/
*.code-workspace

# Arduino Sketchbook backups
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# PlatformIO
.pio/
.vscode/
*.ini

# Arduino CLI build cache
arduino_cache/
